<!DOCTYPE html>
<html>
    <head>
        <% include ./layout/head_layout %>
        
    </head>
    <body>
        <% include ./layout/nav-top %>
            <li ><a href="/">Trang chủ</a></li>
        
            <li><a href="/blogIT">Blog IT</a></li>
        
            <li class='active'><a href="/blogtips">Thủ Thuật</a></li>
        
            <li><a href="/blogknowledge">Kiến Thức</a></li>
        
            <li><a href="/contact">Liên Hệ</a></li>
        <% include ./layout/nav-bot %>
        <section class="banner banner-secondary" id="top" style="background-image: url(images/banner-image-1-1920x300.webp);">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="banner-caption">
                            <div class="line-dec"></div>
                            <h2>Blog Thủ Thuật</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <main>
            <section class="featured-places">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-8 col-xs-12">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="featured-item">
                                        <div class="thumb">
                                            <div class="thumb-img">
                                                <img src="/images/imgblogtips/crackoffice/office-2019.webp" height="250" alt="">
                                            </div>
                
                                            <div class="overlay-content">
                                             <strong title="Author"><i class="fa fa-user"></i> Kent Thuận</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                             <strong title="Posted on"><i class="fa fa-calendar"></i> 01/09/2021 10:30</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                             <strong title="Views"><i class="fa fa-map-marker"></i> </strong>
                                            </div>
                                        </div>
                
                                        <div class="down-content">
                                            <a href="/blogtips/blogtipsdetailcrackoffice"><h4>Hướng dẫn chi tiết cài và crack office 2019 (link download ggdrive)</h4></a>
                
                                            <p>
                                                Theo như mình biết thì hầu như những nhu cầu sử dụng version office hiện tại hoàn toàn ổn định với các công việc của các bạn. Nếu ở hiên tại các bạn đang sử dụng office cũ và muốn update lên một version mới như 2019 mà vẫn còn hoang mang về vấn đề crack thì hôm nay mình sẽ hướng dẫn cách crack office một cách đơn giản nhất ai cũng làm được.  
                                            </p>
                
                                            <div class="text-button">
                                                <a href="/blogtips/blogtipsdetailcrackoffice">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-sm-6 col-xs-12">
                                    <div class="featured-item">
                                        <div class="thumb">
                                            <div class="thumb-img">
                                                <img src="/images/imgblogtips/adblock/adblocklogo.webp" height="250" alt="">
                                            </div>
        
                                            <div class="overlay-content">
                                                <strong title="Author"><i class="fa fa-user"></i> Kent Thuận</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                                <strong title="Posted on"><i class="fa fa-calendar"></i> 01/09/2021 10:30</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                                <strong title="Views"><i class="fa fa-map-marker"></i></strong>
                                            </div>
                                        </div>
        
                                        <div class="down-content">
                                            <a href="/blogtips/blogtipsdetailadblock"><h4>Thủ thuật chặn quảng cáo web phim và youtube trên trình duyệt cực kì đơn giản</h4></a>
        
                                            <p>Nhiều bạn sẽ rất khó chịu khi đang xem hoặc nghe nhạc youtube trên web thì xuất hiện quảng cáo khó chịu. Nhiều bạn xem phim thì cũng xuất hiện quảng cáo giữa chừng trong quá trình coi. Mình chia sẻ điều này để khắc phục sự phiền toái đó. Hi vọng là nó có ích đối với trải nghiệm của các bạn. Cách này chỉ áp dụng trên Laptop hoặc PC còn mảng điện thoại hay di động thì không áp dụng được nha. Nếu các bạn muốn thì hãy góp ý với mình. Mình sẽ viết một trang chia sẻ sauu. Okay ta vào việc thuiii.</p>
        
                                            <div class="text-button">
                                                <a href="/blogtips/blogtipsdetailadblock">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                
                            </div>
                        </div>
        
                        <div class="col-lg-3 col-md-4 col-xs-12">
                            <div class="form-group">
                                <h4>Blog Search</h4>
                            </div>
        
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
        
                                    <span class="input-group-addon"><a href="#"><i class="fa fa-search"></i></a></span>
                                </div>
                            </div>
        
                            <br>
        
                            <div class="form-group">
                                <h4>Các trang xem thêm</h4>
                            </div>
                            <div id="font-size-p">
                            <p><a href="/blogtips/blogtipsdetailcrackoffice">Hướng dẫn chi tiết cài và crack office 2019.</a></p>
                            <p><a href="/blogtips/blogtipsdetailadblock">Thủ thuật chặn quảng cáo web phim và youtube trên trình duyệt cực kì đơn giản.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <% include ./layout/footer_layout %>
    </body>
</html>