<!DOCTYPE html>
<html class="js no-applicationcache geolocation history postmessage svg websockets localstorage sessionstorage websqldatabase webworkers hashchange audio canvas canvastext video webgl cssgradients multiplebgs opacity rgba inlinesvg hsla supports svgclippaths smil fontface generatedcontent textshadow cssanimations backgroundsize borderimage borderradius csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside boxshadow flexbox cssreflections csstransforms csstransforms3d csstransitions indexeddb indexeddb-deletedatabase" lang="vi" prefix="og: https://ogp.me/ns#" style="transform: none;" >
  <head>
  <% include ./layout/head_layout %>
</head>
  <body data-rsssl="1" class="archive category category-thu-thuat category-15 wp-embed-responsive jeg_toggle_dark jnews jsc_normal wpb-js-composer js-comp-ver-6.7.0 vc_responsive" style="visibility: visible; transform: none; margin: 0px !important; padding: 0px !important;" >
    <% include ./layout/nav-top %>
        <li class='active' ><a href="/">Trang chủ</a></li>

        <li><a href="/blogIT"> Blog IT  </a></li>

        <li><a href="/blogtips">Thủ Thuật</a></li>

        <li><a href="/blogknowledge">Kiến Thức</a></li>

        <li><a href="/contact">Liên Hệ</a></li>
    <% include ./layout/nav-bot %>
  <section class="banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-caption">
                    <div class="line-dec"></div>
                    <h2>Share Tips - Share Knowledge</h2>
                    <div class="blue-button">
                        <a href="/contact">Contact Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<main>
    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="left-content">
                        <br>
                        <h4>About me</h4>
                        <p>Tôi là Thuận. Hiện tại là một sinh viên tại hệ thống giáo dục Greenwich Việt Nam (Cơ sở giáo dục liên kết với tổ chức FPT). Kentsharetips.com là một dự án mà tôi dành thời gian tạo trong những ngày giãn cách do dịch Covid-19. Mục đích là chia sẻ những mẹo hoặc thủ thuật mà mình biết cho cộng đồng. Hi vọng rằng website này có ích và giúp đỡ được nhiều người.</p>
                        <div class="blue-button">
                            <a href="/contact">Thông tin thêm</a>
                        </div>

                        <br>
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="images/about-1-720x480.webp" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="featured-places">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <span>Bài blog đăng lần cuối</span>
                        <h2>Những bài viết mới nhất</h2>
                    </div>
                </div> 
            </div> 
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="featured-item">
                        <div class="thumb">
                            <div class="thumb-img">
                                <img src="/images/imgblogknowledge/nvidia-battery-boost/battery-boost.webp" height="240"  alt="">
                            </div>

                            <div class="overlay-content">
                             <strong title="Author"><i class="fa fa-user"></i> Kent Thuận</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                             <strong title="Posted on"><i class="fa fa-calendar"></i> 11/09/2021 23:30</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                             <strong title="Views"><i class="fa fa-map-marker"></i> </strong>
                             
                            </div>
                        </div>

                        <div class="down-content">
                            <h4>Laptop cấu hình cao chơi game vẫn giật lag? Tại sao? Sự khống chế đến từ driver nvidia</h4>

                            <p>Nhiều anh em hay bảo rằng việc trải nghiệm game bị ảnh hưởng mà không hiểu nguyên do dù máy mới mua. Cụ thể là tình trạng lâu lâu dựt lag rồi lại mượt trở lại. Từ game trung bình cho đến một số game AAA. Dù cấu hình gaming và sở hữu card đồ họa <strong>GTX 1650</strong> trở lên. </p>

                            <div class="text-button">
                                <a href="/blogknowledge/blogknowledge-batteryboost" >Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="featured-item">
                        <div class="thumb">
                            <div class="thumb-img">
                                <img src="images/imgblogtips/adblock/adblocklogo.webp" height="240" alt="">
                            </div>

                            <div class="overlay-content">
                             <strong title="Author"><i class="fa fa-user"></i> Kent Thuận</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                             <strong title="Posted on"><i class="fa fa-calendar"></i> 09/09/2021 10:30</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                             <strong title="Views"><i class="fa fa-map-marker"></i> </strong>
                            </div>
                        </div>

                        <div class="down-content">
                            <h4>Thủ thuật chặn quảng cáo web phim và youtube trên trình duyệt cực kì đơn giản</h4>

                            <p>Nhiều bạn sẽ rất khó chịu khi đang xem hoặc nghe nhạc youtube trên web thì xuất hiện quảng cáo khó chịu. Nhiều bạn xem phim thì cũng xuất hiện quảng cáo giữa chừng trong quá trình coi. Mình chia sẻ điều này để khắc phục sự phiền toái đó. Hi vọng là nó có ích đối với trải nghiệm của các bạn. Cách này chỉ áp dụng trên Laptop hoặc PC còn mảng điện thoại hay di động thì không áp dụng được nha. Nếu các bạn muốn thì hãy góp ý với mình. Mình sẽ viết một trang chia sẻ sauu. Okay ta vào việc thuiii.</p>

                            <div class="text-button">
                                <a href="/blogtips/blogtipsdetailadblock">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="featured-item">
                        <div class="thumb">
                            <div class="thumb-img">
                                <img src="/images/imgblogtips/crackoffice/office-2019.webp" alt="">
                            </div>

                            <div class="overlay-content">
                             <strong title="Author"><i class="fa fa-user"></i> Kent Thuận</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                             <strong title="Posted on"><i class="fa fa-calendar"></i> 01/09/2021 10:30</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                             <strong title="Views"><i class="fa fa-map-marker"></i> </strong>
                            </div>
                        </div>

                        <div class="down-content">
                            <h4>Hướng dẫn chi tiết cài và crack office 2019 (link download ggdrive)</h4>
                            
                            <p>
                                Theo như mình biết thì hầu như những nhu cầu sử dụng version office hiện tại hoàn toàn ổn định với các công việc của các bạn. Nếu ở hiên tại các bạn đang sử dụng office cũ và muốn update lên một version mới như 2019 mà vẫn còn hoang mang về vấn đề crack thì hôm nay mình sẽ hướng dẫn cách crack office một cách đơn giản nhất ai cũng làm được.  
                            </p>

                            <div class="text-button">
                                <a href="/blogtips/blogtipsdetailcrackoffice">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner">
                  <div class="section-heading">
                      
                  </div>
                  <!-- Modal button -->

                  <div class="blue-button">
                    <a href="/contact">Talk to me</a>
                  </div>
            </div>
        </div>
    </section>
</main>
<% include ./layout/footer_layout %>
</body>
</html>
