<!DOCTYPE html>
<html>
    <head>
        <% include ../layout/head_layout %>
    </head>
    <body>
        <% include ../layout/nav-bar %>
        <section class="banner banner-secondary" id="top" style="background-image: url(/images/banner-image-1-1920x300.webp);">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="banner-caption">
                            <div class="line-dec"></div>
                            <h2>Hướng dẫn chi tiết cài và crack office 2019 (link download ggdrive & Fshare direct-link) </h2>
    
                            <h4><i class="fa fa-user"></i>Kent Thuận  &nbsp;&nbsp;&nbsp;&nbsp;  <i class="fa fa-calendar"></i> 01/09/2021 10:30 </h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <main>
            <section class="featured-places">
                <div class="container">
                    <div class="blog-content">
                      <img src="/images/imgblogtips/crackoffice/office-2019.webp"  alt="">
                        <br>
                      <h2>Cách cài và crack office 2019 đơn giản ai cũng làm được</h2>
                      
                      <p>Theo như mình biết thì hầu như những nhu cầu sử dụng version office hiện tại hoàn toàn ổn định với các công việc của các bạn. Nếu ở hiên tại các bạn đang sử dụng office cũ và muốn update lên một version mới như 2019 mà vẫn còn hoang mang về vấn đề crack thì hôm nay mình sẽ hướng dẫn cách crack office một cách đơn giản nhất ai cũng làm được.  </p>
                        <br>
                      <h4>Các bước thực hiện cài và crack office</h4>
                      
                      <h3><strong>Phần 1.</strong> Phần cài office-2019</h3>
                    
                      <p><Strong>Bước 1:</Strong> Tải file cài đặt office 2019 trước. Mình đã chuẩn bị sẵn link và chu đáo kèm theo file crack luôn. </p>
                    
                      <p><a href="http://megaurl.in/Xc5iJXJ" target="_blank" rel="noopener noreferrer"><strong> Link 1: GGdrive </strong></a></p>
                      <p><a href="https://stfly.me/m0dur8DG" target="_blank" rel="noopener noreferrer"><strong> Link 2: GGdrive (dự phòng) </strong></a></p>
                      <p><a href="http://megaurl.in/VKxbo" target="_blank" rel="noopener noreferrer"><strong> Link 3: Mega </strong></a></p>
                      <p><a href="http://megaurl.in/7sEt" target="_blank" rel="noopener noreferrer"><strong> Link 4: Fshare (Direct trực tiếp tải siêu nhanh không cần vip)</strong></a></p>
                      
                      <p><Strong>Bước 2:</Strong> Sau khi tải về chúng ta sẽ cài đặt office trước.</p>
                      <p>Đầu tiên các bạn nhấp vào thư mục vừa tải về và <strong>giải nén</strong> ra. Bấm vào file zip, tìm công cụ Extract to (Giải nén đến), nhấp vào và chọn đường dẫn tùy ý.</p>
                      <p>Sau đó các bạn sẽ thấy 3 file.  <strong>Nhấp đúp</strong> vào file ProPlus2019Retail.img.</p>
                        <br>
                      <img src="/images/imgblogtips/crackoffice/folderfile.png"></br>
                        <br>
                      <p><Strong>Bước 3: </Strong>Tiếp theo nó sẽ hiện ra một thư mục được mount. <strong>Click chuột vào file setup.exe</strong></p>
                      <p><img src="/images/imgblogtips/crackoffice/mountfile.png"></p>   
                        <br>
                      <p><Strong>Bước 4: </Strong>Đợi nó install cho tới khi thông báo cài đặt hoàn tất. </p>
                      <p><img src="/images/imgblogtips/crackoffice/installing.png"></p>
                        <br>
                      <p><Strong>Bước 5: </Strong>Sau đó chỉ việc nhấn <strong>Close</strong> là hoàn tất việc cài đặt</p>
                      <p><img src="/images/imgblogtips/crackoffice/complete.png"></p>
                        <br>
                      <h3> <strong>Phần 2.</strong> Phần crack office-2019</h3>
                        <br>
                      <h4><strong>Cách crack đơn giản nhất</strong></h4>
                      <P><Strong>Bước 1:</Strong> Đầu tiên là <strong>tắt tất cả các phần mềm diệt virus</strong> đi. Tại vì nó sẽ hiểu nhầm file crack là virus và không cho bạn bẻ khóa. Có thể làm như sau (nếu chưa cài phần mềm diệt virus nào).</P>
                      <P><Strong>Bước 2:</Strong> <strong>Nhấn vào nút cửa sổ window </strong> trên bàn phím. Sau đó gõ <strong>windows sercurity</strong> và nhấp vào. </P>
                      <p>Tìm đến dòng <strong> Virus & threat protection settings</strong>. Sau đó nhấp vào <strong>Manage settings</strong> phía dưới.</p>
                      <p><img src="/images/imgblogtips/crackoffice/virusthreat.png"></p>
                        <br>
                      <p><Strong>Bước 3: </Strong>Tiếp tục, Ở dòng đầu tiên <strong>Real-time Protection</strong>. Tắt nó đi, có nghĩa là bấm vào chuyển từ <strong>On</strong> chuyển sang <strong>Off</strong></p>
                      <p><img src="/images/imgblogtips/crackoffice/turnoff.png"></p>
                        <br>
                      <p><Strong>Bước 4: </Strong>Quay lại folder đã <strong>tải về và giải nén</strong>. Mình đã cẩn thận chèn file crack cũng như file hướng dẫn crack dự phòng</p>
                    <p><img src="/images/imgblogtips/crackoffice/folderfile.png"></br></p>
                    <br>
                    <p><Strong>Bước 5: </Strong><strong>Nhấn chuột phải</strong> vào file <strong>toolactiveoffice2019</strong> và chọn dòng <strong>Rus as administrator </strong>. Sau đó chọn <strong> yes </strong> để tiếp tục</p>
                    <p>Sau đó <strong> đợi khoảng 5p để tool chạy active</strong>. Màn hình sẽ hiển thị thế này: </p>
                    <p><img src="/images/imgblogtips/crackoffice/active.png"></p>
                    <p>Vẫn <strong> tiếp tục đợi</strong> cho tới khi hiện ra dòng chữ này và tắt nó đi là thành công quá trình crack office!.</p>
                    <p><img src="/images/imgblogtips/crackoffice/activesuccess.png"></p>
                    <br>
                    <p>
                      Cực kỳ đơn giản đúng không. Cảm ơn các bạn đã theo dõi. Vui lòng để lại ý kiến ở phàn bên dưới.
                    </p>
                   </div>
                    <br>
                    <div class="row">
                        <div class="col-md-8">
                            <form id="contact" action="/blogfeedback" method="post">
                                <div class="row">
                                  <div class="col-lg-12 col-md-12 col-sm-12">
                                    <h4>Ý kiến hoặc góp ý của bạn</h4>
                                    <fieldset>
                                      <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                                    </fieldset>
                                  </div>
                                  <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                      <input name="email" type="email" class="form-control" id="email" placeholder="E-Mail Address" required="">
                                    </fieldset>
                                  </div>
                                  <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                      <input name="title" type="text" class="form-control" id="email" placeholder="Title" required="">
                                    </fieldset>
                                  </div>
                                  <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                      <textarea name="note" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                                    </fieldset>
                                  </div>
                                  <div class="col-lg-12">
                                    <div class="blue-button">
                                      <input type="submit" onclick="Alert()" value="Gửi ý kiến" >
                                    </div>
                                  </div>
                                  
                                </div>
                              </form>
                        </div>
                        
                        <div class="col-md-4">
                          <div class="left-content">
                            <br>
                            <br>
    
                            <p>Mọi ý kiến đóng góp mình sẽ phản hồi lại qua email của các bạn trong thời gian sớm nhất. Ai cần giúp đỡ gì thí cứ email hoặc nhắn qua facebook mình sẽ hỗ trợ. Xin cảm ơn.</p>
    
                            <br> 
                            <p>Xem thêm</p>
                            <ul class="list-inline">
                              <li><a href="/blogtips/blogtipsdetailadblock">Cách chặn quảng cáo web phim và youtube trên browser</a></li>
                              <li><a href="/blogknowledge/blogknowledge-batteryboost">Laptop cấu hình cao chơi game vẫn dựt lag? Tại sao?</a></li>
                              
                            </ul>
                          </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <% include ../layout/footer_layout %>
    </body>
</html>