<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head_layout %>
</head>
<body>
    <% include ../layout/nav-bar %>
    <section class="banner banner-secondary" id="top" style="background-image: url(/images/banner-image-1-1920x300.webp);">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="banner-caption">
                        <div class="line-dec"></div>
                        <h2>Thủ thuật chặn quảng cáo web phim và youtube trên trình duyệt cực kì đơn giản</h2>

                        <h4><i class="fa fa-user"></i>Kent Thuận  &nbsp;&nbsp;&nbsp;&nbsp;  <i class="fa fa-calendar"></i> 09/09/2021 10:30</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <main>
        <section class="featured-places">
            <div class="container">
                <div class="blog-content">

                <h2>Chặn quảng cáo web phim và youtube trên trình duyệt bằng extension</h2>
                
                <br>
                
                <p><img src="/images/imgblogtips/adblock/adblocklogo.webp"></p>

                <br>

                <p>Nhiều bạn sẽ rất khó chịu khi đang xem hoặc nghe nhạc youtube trên web thì xuất hiện quảng cáo khó chịu. Nhiều bạn xem phim thì cũng xuất hiện quảng cáo giữa chừng trong quá trình coi. Mình chia sẻ điều này để khắc phục sự phiền toái đó. Hi vọng là nó có ích đối với trải nghiệm của các bạn. Cách này chỉ áp dụng trên Laptop hoặc PC còn mảng điện thoại hay di động thì không áp dụng được nha. Nếu các bạn muốn thì hãy góp ý với mình. Mình sẽ viết một trang chia sẻ sauu. Okay ta vào việc thuiii.</p>

                <br>
                
                <p><strong>Bước 1:</strong> Các bạn vào trang <a href="https://chrome.google.com/webstore/category/extensions?hl=vi">https://chrome.google.com/webstore/category/extensions?hl=vi</a> </p>

                <br>
                
                <p><strong>Bước 2:</strong> Gõ <strong>Adblock</strong> trong thanh tìm kiếm và <strong>Enter.</strong></p>
                <p><img src="/images/imgblogtips/adblock/search.png"></p>

                <br>

                <p>Nó sẽ hiện ra <strong>kết quả</strong> như này.</p>
                <p><img src="/images/imgblogtips/adblock/result.png"></p>
                <br>

                <p><strong> Bước 3: </strong>Các bạn chọn vào cái thằng này.</p>
                <p><img src="/images/imgblogtips/adblock/adblock.png"></p>
                
                <br>

                <p><strong>Click </strong>chọn <strong>Thêm vào Chrome</strong> như hình</p>
                <p><img src="/images/imgblogtips/adblock/install.png"></p>

                <br>

                <p><strong>Bước 4: </strong> Bấm vào <strong>Add extension</strong> là xong</p>
                <p><img src="/images/imgblogtips/adblock/add.png"></p>

                <br>

                <p><strong>Bước 5: </strong>Đợi nó chạy tự động là xong. Khi là hiện ra thông báo này là thành công!. Sau đó tắt nó đi là được.</p>
                <p><img src="/images/imgblogtips/adblock/success.png"></p>
                <br>
                <p>Các bạn vào thử <strong>Youtube</strong> để test thử thành quả đi nào keke. </p>
                <p> Cảm ơn các bạn đã theo dõi. Mình đã cố hướng dẫn chi tiết nhất có thể để ai cũng có thể làm được. Xin cảm ơn!</p>

                <br>
                </div>
                <div class="row">
                  <div class="col-md-8">
                      <form id="contact" action="/blogfeedback" method="post">
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                              <h4>Ý kiến hoặc góp ý của bạn</h4>
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="E-Mail Address" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="title" type="text" class="form-control" id="email" placeholder="Title" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                              <fieldset>
                                <textarea name="note" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <div class="blue-button">
                                <input type="submit" onclick="Alert()" value="Gửi ý kiến" >
                              </div>
                            </div>
                            
                          </div>
                        </form>
                    </div>
            
                    <div class="col-md-4">
                      <div class="left-content">
                        <br>
                        <br>
                        <p>Mọi ý kiến đóng góp mình sẽ phản hồi lại qua email của các bạn trong thời gian sớm nhất. Ai cần giúp đỡ gì thí cứ email hoặc nhắn qua facebook mình sẽ hỗ trợ. Xin cảm ơn.</p>

                        <br> 

                        <ul class="list-inline">
                          <li><a href="/blogknowledge/blogknowledge-batteryboost">Laptop cấu hình cao chơi game vẫn dựt lag? Tại sao?</a></li>
                          <li><a href="/blogtips/blogtipsdetailcrackoffice">Hướng dẫn chi tiết cài và crack office 2019</a></li>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <% include ../layout/footer_layout %>
</body>
</html>